<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:method = "POST" th:action = "@{/people}" th:object = "${person}">
		<label for="name">Enter name:</label>
		<input type="text" th:field = "*{name}" id = "name"/>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
	<br/>
		<label for="bday">Enter email:</label>
		<input type="date" th:field = "*{birth_date}" id = "bday" value="2022-01-01" min="1920-01-01"/>
		<div th:if="${#fields.hasErrors('birth_date')}" th:errors="*{birth_date}">email Error</div>
	<br/>
		<input type="submit" value = "Add person"/>
	</form>
</body>
</html>