<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:method = "PATCH" th:action = "@{/people/{id}(id=${person.getId()})}" th:object = "${person}">
		<label for="name">Enter name:</label>
		<input type="text" th:field = "*{name}" id = "name"/>
	<br/>
		<label for="date">Введите дату рождения:</label>
		<input type="date" th:field = "*{birth_date}" id = "bday" value="2022.01.01" min="1920.01.01" pattern="\d{4}.\d{2}.\d{2}"/>
		<div th:if="${#fields.hasErrors('birth_year')}" th:errors="*{birth_year}">birth_year Error</div>
	<br/>
		<!-- input type="hidden" name="_method" value="patch" -->
		<input type="submit" value = "Update person"/>
	</form>
</body>
</html>