<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<h1 th:text = "|Hello, ${person.getName()}!|"></h1>
		<p th:text = "|Your date: ${person.getBirth_date()}!|"></p>
	<br/>
	<hr/>
		<a href = "/people">Wanna get back?</a>
		<br/>
		<a th:href="@{/people/{id}/edit(id = ${person.getId()})}" th:text="|Or having an urge to change yourself?)|"></a>
		<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    	<input type="submit" value="I would rather delete myself"/>
</form>
</body>
</html>